@model LindaniDrivingSchool.Models.Car

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.carGroup.CarGroupType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carGroup.CarGroupType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carMake.CarMakeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carMake.CarMakeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carModel.CarModelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carModel.CarModelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fuel.FuelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fuel.FuelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insurance.InsuranceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insurance.InsuranceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transmission.TransmissionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transmission.TransmissionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost_Per_Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost_Per_Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KilometerRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KilometerRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.freeKiloMeters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.freeKiloMeters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentMilage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentMilage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numTimesBooked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numTimesBooked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
