@model IEnumerable<LindaniDrivingSchool.Models.CarHiring>

@{
    ViewBag.Title = "MyHirings";
}

<h2>MyHirings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.car.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Percentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking_Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numOfDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MilageIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MilageOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.car.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PickUpDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReturnDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Percentage)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BasicPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Booking_Cost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Deposit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.numOfDays)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MilageIn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MilageOut)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.status)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.BookingId }) |
        @Html.ActionLink("Details", "Details", new { id = item.BookingId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.BookingId })
    </td>
</tr>
}

</table>
